# Ignore everything
/*

# Editor Project Files
.vscode
.idea

# Track the ignore
!.gitignore

# Everything but wp-content
!wp-content
wp-content/*

# Ignore all must use plugins except specified ones
!wp-content/mu-plugins
wp-content/mu-plugins/*
!wp-content/plugins/my-mu-plugin #custom muy plugin

# Ignore all plugins except specified ones
!wp-content/plugins
wp-content/plugins/*
!wp-content/plugins/my-plugin #custom plugin pages

# Ignore all themes except specified ones
!wp-content/themes
wp-content/themes/*
!wp-content/themes/my-theme #custom theme
wp-content/themes/my-theme/node_modules #other files or dir that only belong in dev
